<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>tasty &#8211; DHO1</title>
	<atom:link href="http://OFFLINEZIP.wpshotag/tasty/feed/" rel="self" type="application/rss+xml" />
	<link>https://OFFLINEZIP.wpsho</link>
	<description>全新的繁體中文 WordPress 網站</description>
	<lastBuildDate>Sun, 03 Apr 2016 07:01:17 +0000</lastBuildDate>
	<language>zh-TW</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.2.4</generator>
	<item>
		<title>Blueberry Pie Recipe</title>
		<link>http://OFFLINEZIP.wpsho2016/04/03/blueberry-pie-recipe/</link>
				<pubDate>Sun, 03 Apr 2016 07:01:17 +0000</pubDate>
		<dc:creator><![CDATA[hota]]></dc:creator>
				<category><![CDATA[Food]]></category>
		<category><![CDATA[blueberry]]></category>
		<category><![CDATA[pie]]></category>
		<category><![CDATA[tasty]]></category>

		<guid isPermaLink="false">http://envato.awedoo.com/themeforest/wp/blueberry/?p=31</guid>
				<description><![CDATA[Aenean in dui quis lectus tincidunt hendrerit et vitae  [&#8230;]]]></description>
								<content:encoded><![CDATA[<p>Aenean in dui quis lectus tincidunt hendrerit et vitae enim. Praesent volutpat scelerisque felis quis efficitur. Vivamus ultrices leo non purus tincidunt cursus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris a ornare lorem, eu egestas massa. In consectetur neque felis, at tempor ipsum condimentum nec. In hac habitasse platea dictumst.</p>
<p><span id="more-31"></span></p>
<p><img class="size-medium wp-image-33 alignright" src="http://OFFLINEZIP.wpshowp-content/uploads/2015/09/hands_blueberry-300x200.jpeg" alt="hands_blueberry" width="300" height="200" srcset="http://OFFLINEZIP.wpshowp-content/uploads/2015/09/hands_blueberry-300x200.jpeg 300w, http://OFFLINEZIP.wpshowp-content/uploads/2015/09/hands_blueberry-416x277.jpeg 416w, http://OFFLINEZIP.wpshowp-content/uploads/2015/09/hands_blueberry-768x512.jpeg 768w, http://OFFLINEZIP.wpshowp-content/uploads/2015/09/hands_blueberry-1024x683.jpeg 1024w, http://OFFLINEZIP.wpshowp-content/uploads/2015/09/hands_blueberry-1240x827.jpeg 1240w, http://OFFLINEZIP.wpshowp-content/uploads/2015/09/hands_blueberry-920x613.jpeg 920w, http://OFFLINEZIP.wpshowp-content/uploads/2015/09/hands_blueberry-600x400.jpeg 600w, http://OFFLINEZIP.wpshowp-content/uploads/2015/09/hands_blueberry-280x187.jpeg 280w" sizes="(max-width: 300px) 100vw, 300px" />Nulla a imperdiet velit, vitae viverra dui. Morbi aliquam, velit in ultricies lacinia, nunc lorem rhoncus diam, nec feugiat ex justo sit amet elit. Maecenas sit amet tristique metus, vel laoreet neque. Vivamus dapibus, dolor ac posuere scelerisque, risus erat rutrum risus, non accumsan est dui aliquam eros. Phasellus convallis lacus at blandit dignissim. Ut venenatis, magna ut sagittis laoreet, turpis velit pellentesque neque, eu bibendum ligula massa a lacus.</p>
<p>START FROM SCRATCH</p>
<p>Nec iaculis fermentum. Aliquam a sem ac leo cursus dapibus. Maecenas quis luctus urna, sed fermentum velit. Suspendisse viverra velit vel aliquam semper. Ut vitae volutpat dolor, at mollis neque. Fusce at efficitur tortor. In pharetra neque congue enim hendrerit aliquam. Morbi pharetra dolor sed metus dictum, a tincidunt turpis interdum.</p>
<blockquote><p>Nam pharetra in dolor non maximus. Donec eget ipsum eget tellus elementum ornare. Sed aliquet finibus nisi eget bibendum. Etiam aliquam urna in sollicitudin accumsan.</p></blockquote>
<p>Nulla a imperdiet velit, vitae viverra dui. Morbi aliquam, velit in ultricies lacinia, nunc lorem rhoncus diam, nec feugiat ex justo sit amet elit. Maecenas sit amet tristique metus, vel laoreet neque. Vivamus dapibus, dolor ac posuere scelerisque, risus erat rutrum risus, non accumsan est dui aliquam eros. Phasellus convallis lacus at blandit dignissim. Ut venenatis, magna ut sagittis laoreet, turpis velit pellentesque neque, eu bibendum ligula massa a lacus.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
