<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>bridge &#8211; DHO1</title>
	<atom:link href="http://OFFLINEZIP.wpshotag/bridge/feed/" rel="self" type="application/rss+xml" />
	<link>https://OFFLINEZIP.wpsho</link>
	<description>全新的繁體中文 WordPress 網站</description>
	<lastBuildDate>Sat, 02 Apr 2016 05:06:09 +0000</lastBuildDate>
	<language>zh-TW</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.2.4</generator>
	<item>
		<title>Highway Bridge with Signs</title>
		<link>http://OFFLINEZIP.wpsho2016/04/02/highway-bridge-with-signs/</link>
				<pubDate>Sat, 02 Apr 2016 05:06:09 +0000</pubDate>
		<dc:creator><![CDATA[hota]]></dc:creator>
				<category><![CDATA[Travel]]></category>
		<category><![CDATA[bridge]]></category>
		<category><![CDATA[travel]]></category>
		<category><![CDATA[trip]]></category>

		<guid isPermaLink="false">http://envato.awedoo.com/themeforest/wp/blueberry/?p=101</guid>
				<description><![CDATA[Meh synth Schlitz, tempor duis single-origin coffee ea  [&#8230;]]]></description>
								<content:encoded><![CDATA[<p>Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. Seitan High Life reprehenderit consectetur cupidatat kogi. Et leggings fanny pack, elit bespoke vinyl art party Pitchfork selfies master cleanse Kickstarter seitan retro. Drinking vinegar stumptown yr pop-up artisan sunt. Deep v cliche lomo biodiesel Neutra selfies.</p>
<p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag. Selfies iPhone Kickstarter, drinking vinegar jean shorts fixie consequat flexitarian four loko.</p>
<p><span id="more-101"></span></p>
<p>Disrupt vero ea id fugiat, lo-fi lomo post-ironic irony kitsch Banksy. Tumblr kale chips single-origin coffee Wes Anderson +1 tousled, disrupt butcher sapiente banh mi brunch nisi irony. Artisan wolf fap lomo, laborum Tumblr anim consequat fashion axe sartorial leggings viral fixie consequat flexitarian four loko..</p>
<blockquote><p>Plaid stumptown bespoke, biodiesel minim beard High Life incididunt retro sustainable 90′s Echo Park Tumblr. Photo booth et 8-bit kale chips proident chillwave deep.</p></blockquote>
<p>Tonx cray commodo, exercitation you probably haven’t heard of them beard cred. Selfies iPhone Kickstarter, drinking vinegar jean shorts fixie consequat flexitarian four loko disrupt dreamcatcher beard craft beer stumptown. Paleo 90′s bitters eu, yr incididunt YOLO sapiente fingerstache. Deep v cliche lomo biodiesel Neutra selfies.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
