<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	〈Tshirt〉的留言	</title>
	<atom:link href="http://OFFLINEZIP.wpshoproduct/tshirt/feed/" rel="self" type="application/rss+xml" />
	<link>http://OFFLINEZIP.wpshoproduct/tshirt/</link>
	<description>全新的繁體中文 WordPress 網站</description>
	<lastBuildDate>Tue, 15 Oct 2019 11:50:08 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.2.4</generator>
</channel>
</rss>
