<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>day &#8211; DHO1</title>
	<atom:link href="http://OFFLINEZIP.wpshotag/day/feed/" rel="self" type="application/rss+xml" />
	<link>https://OFFLINEZIP.wpsho</link>
	<description>全新的繁體中文 WordPress 網站</description>
	<lastBuildDate>Sat, 02 Apr 2016 05:10:42 +0000</lastBuildDate>
	<language>zh-TW</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.2.4</generator>
	<item>
		<title>My Wedding Day</title>
		<link>http://OFFLINEZIP.wpsho2016/04/02/my-wedding-day/</link>
				<pubDate>Sat, 02 Apr 2016 05:10:42 +0000</pubDate>
		<dc:creator><![CDATA[hota]]></dc:creator>
				<category><![CDATA[Lifestyle]]></category>
		<category><![CDATA[day]]></category>
		<category><![CDATA[wedding]]></category>

		<guid isPermaLink="false">http://envato.awedoo.com/themeforest/wp/blueberry/?p=104</guid>
				<description><![CDATA[Meh synth Schlitz, tempor duis single-origin coffee ea  [&#8230;]]]></description>
								<content:encoded><![CDATA[<p>Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. Seitan High Life reprehenderit consectetur cupidatat kogi. Et leggings fanny pack, elit bespoke vinyl art party Pitchfork selfies master cleanse Kickstarter seitan retro. Drinking vinegar stumptown yr pop-up artisan sunt. Deep v cliche lomo biodiesel Neutra selfies.</p>
<p><span id="more-104"></span></p>
<p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag. Selfies iPhone Kickstarter, drinking vinegar jean shorts fixie consequat flexitarian four loko.</p>
<p>Tonx cray commodo, exercitation you probably haven’t heard of them beard cred. Selfies iPhone Kickstarter, drinking vinegar jean shorts fixie consequat flexitarian four loko disrupt dreamcatcher beard craft beer stumptown. Paleo 90′s bitters eu, yr incididunt YOLO sapiente fingerstache. Deep v cliche lomo biodiesel Neutra selfies.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Tim McMorris &#8211; It&#8217;s A Beautiful Day</title>
		<link>http://OFFLINEZIP.wpsho2016/04/01/lykkeli-no-rest-for-the-wicked/</link>
				<pubDate>Fri, 01 Apr 2016 12:03:25 +0000</pubDate>
		<dc:creator><![CDATA[hota]]></dc:creator>
				<category><![CDATA[Music]]></category>
		<category><![CDATA[beautiful]]></category>
		<category><![CDATA[day]]></category>

		<guid isPermaLink="false">http://envato.awedoo.com/themeforest/wp/blueberry/?p=67</guid>
				<description><![CDATA[Nulla a velit ut elit feugiat lobortis. Nullam ornare n [&#8230;]]]></description>
								<content:encoded><![CDATA[<p>Nulla a velit ut elit feugiat lobortis. Nullam ornare nec purus vitae commodo. Curabitur venenatis, augue volutpat congue dignissim, enim nibh tincidunt nibh, non mollis justo enim a justo. In elementum lectus at malesuada pretium. Nulla et molestie sapien, ut vulputate ex. Sed tincidunt mattis ultricies. Nam sapien leo, efficitur id enim tempus, tristique pulvinar tortor.</p>
<p><span id="more-67"></span></p>
<p>Nulla commodo nunc eget nisl rutrum sagittis. Cras libero nunc, euismod sed ex vel, maximus ullamcorper felis. Quisque lobortis quis tortor vel bibendum. Donec gravida nulla venenatis nibh finibus, vitae placerat dui ullamcorper.</p>
<p>Donec commodo egestas elit vel elementum. Cras in justo orci. Nullam interdum diam nisi, a gravida nisi semper et. Sed in scelerisque ex, eget lobortis nunc. Nullam fringilla laoreet odio. Pellentesque vel magna nec arcu imperdiet blandit.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
