<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Music &#8211; DHO1</title>
	<atom:link href="http://OFFLINEZIP.wpshocategory/music/feed/" rel="self" type="application/rss+xml" />
	<link>https://OFFLINEZIP.wpsho</link>
	<description>全新的繁體中文 WordPress 網站</description>
	<lastBuildDate>Fri, 01 Apr 2016 12:03:25 +0000</lastBuildDate>
	<language>zh-TW</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.2.4</generator>
	<item>
		<title>Tim McMorris &#8211; It&#8217;s A Beautiful Day</title>
		<link>http://OFFLINEZIP.wpsho2016/04/01/lykkeli-no-rest-for-the-wicked/</link>
				<pubDate>Fri, 01 Apr 2016 12:03:25 +0000</pubDate>
		<dc:creator><![CDATA[hota]]></dc:creator>
				<category><![CDATA[Music]]></category>
		<category><![CDATA[beautiful]]></category>
		<category><![CDATA[day]]></category>

		<guid isPermaLink="false">http://envato.awedoo.com/themeforest/wp/blueberry/?p=67</guid>
				<description><![CDATA[Nulla a velit ut elit feugiat lobortis. Nullam ornare n [&#8230;]]]></description>
								<content:encoded><![CDATA[<p>Nulla a velit ut elit feugiat lobortis. Nullam ornare nec purus vitae commodo. Curabitur venenatis, augue volutpat congue dignissim, enim nibh tincidunt nibh, non mollis justo enim a justo. In elementum lectus at malesuada pretium. Nulla et molestie sapien, ut vulputate ex. Sed tincidunt mattis ultricies. Nam sapien leo, efficitur id enim tempus, tristique pulvinar tortor.</p>
<p><span id="more-67"></span></p>
<p>Nulla commodo nunc eget nisl rutrum sagittis. Cras libero nunc, euismod sed ex vel, maximus ullamcorper felis. Quisque lobortis quis tortor vel bibendum. Donec gravida nulla venenatis nibh finibus, vitae placerat dui ullamcorper.</p>
<p>Donec commodo egestas elit vel elementum. Cras in justo orci. Nullam interdum diam nisi, a gravida nisi semper et. Sed in scelerisque ex, eget lobortis nunc. Nullam fringilla laoreet odio. Pellentesque vel magna nec arcu imperdiet blandit.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Bringing Ideas to Life</title>
		<link>http://OFFLINEZIP.wpsho2016/03/01/bringing-ideas-to-life/</link>
				<pubDate>Tue, 01 Mar 2016 13:09:53 +0000</pubDate>
		<dc:creator><![CDATA[hota]]></dc:creator>
				<category><![CDATA[Music]]></category>
		<category><![CDATA[Travel]]></category>
		<category><![CDATA[explore]]></category>
		<category><![CDATA[travel]]></category>

		<guid isPermaLink="false">http://envato.awedoo.com/themeforest/wp/blueberry/?p=87</guid>
				<description><![CDATA[Sed laoreet tortor vitae ipsum iaculis dapibus. Morbi l [&#8230;]]]></description>
								<content:encoded><![CDATA[<p>Sed laoreet tortor vitae ipsum iaculis dapibus. Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis. Phasellus congue volutpat porttitor. Morbi ullamcorper ac velit et laoreet. Proin at consequat ipsum. Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris.</p>
<p><span id="more-87"></span></p>
<p>Phasellus molestie, lectus sed dapibus volutpat, ligula tortor tincidunt purus, et imperdiet erat sem vel mauris. Nam nulla tortor, imperdiet et tincidunt nec, ornare sit amet risus. Aliquam malesuada bibendum gravida. Nullam blandit sagittis felis in ullamcorper. Vivamus varius sem vehicula, tempus arcu scelerisque, lobortis quam. Sed mollis nibh eget semper consequat.</p>
<h5>Lorem Ipsum Dolor Sit Amet</h5>
<p>Aenean ac porttitor diam. Sed imperdiet mi rutrum metus porta pretium. Vestibulum fermentum lectus quis erat convallis volutpat. Vestibulum tristique semper lacus vitae commodo. Aliquam sollicitudin purus at placerat placerat.</p>
<blockquote><p>Sometimes when you innovate, you make mistakes. It is best to admit them quickly, and get on with improving your other innovations.</p>
<p>&#8211; Steve Jobs</p></blockquote>
<p>Suspendisse eleifend nulla ac rhoncus egestas. Sed vehicula ipsum vitae finibus condimentum. Phasellus rhoncus, nulla et sodales sodales, massa nisl volutpat odio, ac sodales risus metus sollicitudin odio. Proin et nibh a urna congue posuere. Proin lobortis sodales arcu sed volutpat. Proin sem turpis, sollicitudin ac augue in, aliquet mollis metus. Duis quam lorem, consequat a sapien eget, dignissim rhoncus turpis. Donec dictum eget nibh lobortis eleifend. Vestibulum sed porta sem. Etiam egestas velit dolor, a pretium elit finibus a. Donec tempus purus vel consequat pulvinar. Pellentesque at eros nec felis consectetur consequat in et turpis. Donec at erat venenatis, imperdiet sapien quis, molestie nisi. Phasellus metus nisi, placerat quis scelerisque sit amet, dapibus eget massa. Nunc egestas congue metus. Fusce facilisis purus quis diam fermentum, vitae bibendum metus porttitor.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
