<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>引文 &#8211; DHO1</title>
	<atom:link href="http://OFFLINEZIP.wpshotype/quote/feed/" rel="self" type="application/rss+xml" />
	<link>https://OFFLINEZIP.wpsho</link>
	<description>全新的繁體中文 WordPress 網站</description>
	<lastBuildDate>Sun, 03 Apr 2016 06:02:18 +0000</lastBuildDate>
	<language>zh-TW</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.2.4</generator>
	<item>
		<title>The difference between a successful person and oth&#8230;</title>
		<link>http://OFFLINEZIP.wpsho2016/04/03/vince-lombardi/</link>
				<pubDate>Sun, 03 Apr 2016 06:02:18 +0000</pubDate>
		<dc:creator><![CDATA[hota]]></dc:creator>
				<category><![CDATA[Lifestyle]]></category>

		<guid isPermaLink="false">http://envato.awedoo.com/themeforest/wp/blueberry/?p=174</guid>
				<description><![CDATA[The difference between a successful person and others i [&#8230;]]]></description>
								<content:encoded><![CDATA[<p>The difference between a successful person and others is not a lack of strength, not a lack of knowledge, but rather a lack of will.</p>
]]></content:encoded>
										</item>
		<item>
		<title>It&#8217;s really hard to design products by focus group&#8230;</title>
		<link>http://OFFLINEZIP.wpsho2016/04/01/184-2/</link>
				<pubDate>Fri, 01 Apr 2016 18:25:09 +0000</pubDate>
		<dc:creator><![CDATA[hota]]></dc:creator>
				<category><![CDATA[Lifestyle]]></category>

		<guid isPermaLink="false">http://envato.awedoo.com/themeforest/wp/blueberry/?p=184</guid>
				<description><![CDATA[It&#8217;s really hard to design products by focus grou [&#8230;]]]></description>
								<content:encoded><![CDATA[<p>It&#8217;s really hard to design products by focus groups. A lot of times, people don&#8217;t know what they want until you show it to them.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
