<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	〈Travel The World〉的留言	</title>
	<atom:link href="http://OFFLINEZIP.wpsho2016/04/01/travel-the-world/feed/" rel="self" type="application/rss+xml" />
	<link>http://OFFLINEZIP.wpsho2016/04/01/travel-the-world/</link>
	<description>全新的繁體中文 WordPress 網站</description>
	<lastBuildDate>Fri, 01 Apr 2016 03:55:35 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.2.4</generator>
			<item>
				<title>
				留言者: Awedoo Studio				</title>
				<link>http://OFFLINEZIP.wpsho2016/04/01/travel-the-world/#comment-6</link>
		<dc:creator><![CDATA[Awedoo Studio]]></dc:creator>
		<pubDate>Thu, 03 Sep 2015 08:35:39 +0000</pubDate>
		<guid isPermaLink="false">http://envato.awedoo.com/themeforest/wp/blueberry/?p=111#comment-6</guid>
					<description><![CDATA[Just one more comment]]></description>
		<content:encoded><![CDATA[<p>Just one more comment</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				留言者: Awedoo Studio				</title>
				<link>http://OFFLINEZIP.wpsho2016/04/01/travel-the-world/#comment-5</link>
		<dc:creator><![CDATA[Awedoo Studio]]></dc:creator>
		<pubDate>Thu, 03 Sep 2015 08:35:16 +0000</pubDate>
		<guid isPermaLink="false">http://envato.awedoo.com/themeforest/wp/blueberry/?p=111#comment-5</guid>
					<description><![CDATA[Nice!]]></description>
		<content:encoded><![CDATA[<p>Nice!</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				留言者: Janie Doe				</title>
				<link>http://OFFLINEZIP.wpsho2016/04/01/travel-the-world/#comment-4</link>
		<dc:creator><![CDATA[Janie Doe]]></dc:creator>
		<pubDate>Thu, 03 Sep 2015 08:16:55 +0000</pubDate>
		<guid isPermaLink="false">http://envato.awedoo.com/themeforest/wp/blueberry/?p=111#comment-4</guid>
					<description><![CDATA[Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words]]></description>
		<content:encoded><![CDATA[<p>Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				留言者: John Doe				</title>
				<link>http://OFFLINEZIP.wpsho2016/04/01/travel-the-world/#comment-3</link>
		<dc:creator><![CDATA[John Doe]]></dc:creator>
		<pubDate>Thu, 03 Sep 2015 08:12:32 +0000</pubDate>
		<guid isPermaLink="false">http://envato.awedoo.com/themeforest/wp/blueberry/?p=111#comment-3</guid>
					<description><![CDATA[There are many variations of passages of Lorem Ipsum available]]></description>
		<content:encoded><![CDATA[<p>There are many variations of passages of Lorem Ipsum available</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				留言者: Awedoo Studio				</title>
				<link>http://OFFLINEZIP.wpsho2016/04/01/travel-the-world/#comment-2</link>
		<dc:creator><![CDATA[Awedoo Studio]]></dc:creator>
		<pubDate>Thu, 03 Sep 2015 08:10:29 +0000</pubDate>
		<guid isPermaLink="false">http://envato.awedoo.com/themeforest/wp/blueberry/?p=111#comment-2</guid>
					<description><![CDATA[Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words]]></description>
		<content:encoded><![CDATA[<p>Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words</p>
]]></content:encoded>
						</item>
			</channel>
</rss>
