<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>life &#8211; DHO1</title>
	<atom:link href="http://OFFLINEZIP.wpshotag/life/feed/" rel="self" type="application/rss+xml" />
	<link>https://OFFLINEZIP.wpsho</link>
	<description>全新的繁體中文 WordPress 網站</description>
	<lastBuildDate>Fri, 01 Apr 2016 03:55:35 +0000</lastBuildDate>
	<language>zh-TW</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.2.4</generator>
	<item>
		<title>Travel The World</title>
		<link>http://OFFLINEZIP.wpsho2016/04/01/travel-the-world/</link>
				<comments>http://OFFLINEZIP.wpsho2016/04/01/travel-the-world/#comments</comments>
				<pubDate>Fri, 01 Apr 2016 03:55:35 +0000</pubDate>
		<dc:creator><![CDATA[hota]]></dc:creator>
				<category><![CDATA[Lifestyle]]></category>
		<category><![CDATA[Travel]]></category>
		<category><![CDATA[life]]></category>
		<category><![CDATA[travel]]></category>
		<category><![CDATA[trip]]></category>

		<guid isPermaLink="false">http://envato.awedoo.com/themeforest/wp/blueberry/?p=111</guid>
				<description><![CDATA[In hac habitasse platea dictumst. Donec vel bibendum qu [&#8230;]]]></description>
								<content:encoded><![CDATA[<p>In hac habitasse platea dictumst. Donec vel bibendum quam. Duis rhoncus consequat enim. Nunc sagittis nulla eget massa tincidunt pellentesque. Fusce id vehicula nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse nec iaculis tellus. Maecenas non dapibus purus. Fusce euismod vulputate ligula sed feugiat. Ut mauris nibh, sagittis varius fermentum vel, porttitor ut mi.</p>
<p>Cras placerat nisl sit amet nulla maximus mollis. Ut vel porttitor dolor. Sed eget venenatis mi, ac finibus nisi. Morbi ornare velit eget felis elementum cursus. Vestibulum non pulvinar risus. Curabitur hendrerit tortor vulputate odio rhoncus, eget pellentesque sapien sodales. Suspendisse vel auctor ipsum. Aliquam bibendum tellus lacus, vitae consequat turpis posuere sit amet. Aliquam erat volutpat.</p>
<p><span id="more-111"></span></p>
<p>Sed at ante est. Proin vitae ultricies lectus. Etiam ornare turpis eu lectus consequat, id ultricies est vehicula. Ut sit amet tempor lacus, in blandit erat. Nam convallis mi non sapien tempus egestas. Integer eget nibh nulla. Etiam fermentum tortor a velit mollis vestibulum. Donec nec mi tristique, rhoncus risus eu, scelerisque neque. Nunc rhoncus, leo in pretium facilisis, sapien nibh vulputate quam, non dapibus nibh ante sit amet metus. In vel condimentum odio, nec vestibulum odio. Aliquam erat volutpat. Maecenas pulvinar magna ut risus blandit, ut varius nunc tincidunt. Cras sit amet nisl a nisl adipiscing euismod. Nam id lectus rutrum, hendrerit dui semper, rutrum quam. Maecenas mattis faucibus libero, et vehicula libero dapibus et.</p>
]]></content:encoded>
							<wfw:commentRss>http://OFFLINEZIP.wpsho2016/04/01/travel-the-world/feed/</wfw:commentRss>
		<slash:comments>5</slash:comments>
							</item>
	</channel>
</rss>
