<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Travel &#8211; DHO1</title>
	<atom:link href="http://OFFLINEZIP.wpshocategory/travel/feed/" rel="self" type="application/rss+xml" />
	<link>https://OFFLINEZIP.wpsho</link>
	<description>全新的繁體中文 WordPress 網站</description>
	<lastBuildDate>Sun, 03 Apr 2016 09:29:46 +0000</lastBuildDate>
	<language>zh-TW</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.2.4</generator>
	<item>
		<title>My Trip to New York</title>
		<link>http://OFFLINEZIP.wpsho2016/04/03/my-trip-to-new-york/</link>
				<pubDate>Sun, 03 Apr 2016 09:29:46 +0000</pubDate>
		<dc:creator><![CDATA[hota]]></dc:creator>
				<category><![CDATA[Lifestyle]]></category>
		<category><![CDATA[Travel]]></category>
		<category><![CDATA[city]]></category>
		<category><![CDATA[travel]]></category>
		<category><![CDATA[trip]]></category>

		<guid isPermaLink="false">http://envato.awedoo.com/themeforest/wp/blueberry/?p=126</guid>
				<description><![CDATA[Meh synth Schlitz, tempor duis single-origin coffee ea  [&#8230;]]]></description>
								<content:encoded><![CDATA[<p>Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. Seitan High Life reprehenderit consectetur cupidatat kogi. Et leggings fanny pack, elit bespoke vinyl art party Pitchfork selfies master cleanse Kickstarter seitan retro. Drinking vinegar stumptown yr pop-up artisan sunt. Deep v cliche lomo biodiesel Neutra selfies.</p>
<p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag. Selfies iPhone Kickstarter, drinking vinegar jean shorts fixie consequat flexitarian four loko.</p>
<p><span id="more-126"></span></p>
<p>Disrupt vero ea id fugiat, lo-fi lomo post-ironic irony kitsch Banksy. Tumblr kale chips single-origin coffee Wes Anderson +1 tousled, disrupt butcher sapiente banh mi brunch nisi irony. Artisan wolf fap lomo, laborum Tumblr anim consequat fashion axe sartorial leggings viral fixie consequat flexitarian four loko..</p>
]]></content:encoded>
										</item>
		<item>
		<title>Highway Bridge with Signs</title>
		<link>http://OFFLINEZIP.wpsho2016/04/02/highway-bridge-with-signs/</link>
				<pubDate>Sat, 02 Apr 2016 05:06:09 +0000</pubDate>
		<dc:creator><![CDATA[hota]]></dc:creator>
				<category><![CDATA[Travel]]></category>
		<category><![CDATA[bridge]]></category>
		<category><![CDATA[travel]]></category>
		<category><![CDATA[trip]]></category>

		<guid isPermaLink="false">http://envato.awedoo.com/themeforest/wp/blueberry/?p=101</guid>
				<description><![CDATA[Meh synth Schlitz, tempor duis single-origin coffee ea  [&#8230;]]]></description>
								<content:encoded><![CDATA[<p>Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. Seitan High Life reprehenderit consectetur cupidatat kogi. Et leggings fanny pack, elit bespoke vinyl art party Pitchfork selfies master cleanse Kickstarter seitan retro. Drinking vinegar stumptown yr pop-up artisan sunt. Deep v cliche lomo biodiesel Neutra selfies.</p>
<p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag. Selfies iPhone Kickstarter, drinking vinegar jean shorts fixie consequat flexitarian four loko.</p>
<p><span id="more-101"></span></p>
<p>Disrupt vero ea id fugiat, lo-fi lomo post-ironic irony kitsch Banksy. Tumblr kale chips single-origin coffee Wes Anderson +1 tousled, disrupt butcher sapiente banh mi brunch nisi irony. Artisan wolf fap lomo, laborum Tumblr anim consequat fashion axe sartorial leggings viral fixie consequat flexitarian four loko..</p>
<blockquote><p>Plaid stumptown bespoke, biodiesel minim beard High Life incididunt retro sustainable 90′s Echo Park Tumblr. Photo booth et 8-bit kale chips proident chillwave deep.</p></blockquote>
<p>Tonx cray commodo, exercitation you probably haven’t heard of them beard cred. Selfies iPhone Kickstarter, drinking vinegar jean shorts fixie consequat flexitarian four loko disrupt dreamcatcher beard craft beer stumptown. Paleo 90′s bitters eu, yr incididunt YOLO sapiente fingerstache. Deep v cliche lomo biodiesel Neutra selfies.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Photos from my trip</title>
		<link>http://OFFLINEZIP.wpsho2016/04/01/photos-from-my-trip/</link>
				<pubDate>Fri, 01 Apr 2016 12:39:17 +0000</pubDate>
		<dc:creator><![CDATA[hota]]></dc:creator>
				<category><![CDATA[Travel]]></category>
		<category><![CDATA[road]]></category>
		<category><![CDATA[travel]]></category>
		<category><![CDATA[trip]]></category>

		<guid isPermaLink="false">http://envato.awedoo.com/themeforest/wp/blueberry/?p=76</guid>
				<description><![CDATA[It’s was a nice time, thanks to every one! There are ma [&#8230;]]]></description>
								<content:encoded><![CDATA[<p>It’s was a nice time, thanks to every one! There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable.<br />
<span id="more-68"></span></p>
<p><span id="more-76"></span></p>
<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of “de Finibus Bonorum et Malorum” (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, “Lorem ipsum dolor sit amet..”, comes from a line in section 1.10.32.</p>
<blockquote><p>Hi there! I’m a bike messenger by day, aspiring actor by night, and this is my blog. I live in Los Angeles, have a great dog named Jack, and I like piña coladas. (And gettin’ caught in the rain.)</p></blockquote>
<p>…or something like this:</p>
<blockquote><p>The XYZ Doohickey Company was founded in 1971, and has been providing quality doohickeys to the public ever since. Located in Gotham City, XYZ employs over 2,000 people and does all kinds of awesome things for the Gotham community.</p></blockquote>
]]></content:encoded>
										</item>
		<item>
		<title>Inspiring Travel To Forest</title>
		<link>http://OFFLINEZIP.wpsho2016/04/01/inspiring-travel-to-forest/</link>
				<pubDate>Fri, 01 Apr 2016 12:19:36 +0000</pubDate>
		<dc:creator><![CDATA[hota]]></dc:creator>
				<category><![CDATA[Travel]]></category>

		<guid isPermaLink="false">http://envato.awedoo.com/themeforest/wp/blueberry/?p=71</guid>
				<description><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit [&#8230;]]]></description>
								<content:encoded><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fermentum magna sit amet orci vulputate, eget blandit ligula bibendum. Sed consequat nulla sed leo faucibus, vitae molestie nibh congue. Cras id risus in ipsum efficitur sodales. In augue augue, sagittis vitae molestie id, auctor tincidunt sapien. Nunc sed rutrum magna, et egestas mi.</p>
<p>Nulla commodo nunc eget nisl rutrum sagittis. Cras libero nunc, euismod sed ex vel, maximus ullamcorper felis. Quisque lobortis quis tortor vel bibendum. Donec gravida nulla venenatis nibh finibus, vitae placerat dui ullamcorper.</p>
<p><span id="more-71"></span></p>
<p>Donec commodo egestas elit vel elementum. Cras in justo orci. Nullam interdum diam nisi, a gravida nisi semper et. Sed in scelerisque ex, eget lobortis nunc. Nullam fringilla laoreet odio. Pellentesque vel magna nec arcu imperdiet blandit.</p>
<blockquote><p>Donec fringilla auctor massa, quis maximus sem aliquam at. Sed erat libero, blandit eu iaculis quis, auctor vel libero. Donec ornare erat ac dolor dignissim, vitae dapibus libero sodales.</p></blockquote>
<p>Ut laoreet, ligula feugiat facilisis ornare, orci libero finibus justo, id blandit nisl nibh sed dui. Sed venenatis lectus et porttitor ullamcorper. Nunc enim leo, rutrum ut blandit ut, congue id metus. Duis nisi quam, auctor sed vehicula sed, aliquam et nunc.</p>
<p>Etiam tincidunt ligula ac enim faucibus, eu blandit orci venenatis. Integer feugiat lorem a ante iaculis commodo. Suspendisse vel porttitor lacus, nec varius dui. Mauris tellus nibh, fringilla non maximus non, interdum quis massa. Duis eget ante sed magna maximus cursus vitae et elit. Morbi sit amet felis auctor, congue tellus eget, sagittis enim. Phasellus commodo dignissim placerat. Praesent commodo a turpis eu aliquet. Aliquam porttitor, purus eu efficitur ultrices, felis felis aliquet diam, ac dapibus lacus lectus sed nisl.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Travel The World</title>
		<link>http://OFFLINEZIP.wpsho2016/04/01/travel-the-world/</link>
				<comments>http://OFFLINEZIP.wpsho2016/04/01/travel-the-world/#comments</comments>
				<pubDate>Fri, 01 Apr 2016 03:55:35 +0000</pubDate>
		<dc:creator><![CDATA[hota]]></dc:creator>
				<category><![CDATA[Lifestyle]]></category>
		<category><![CDATA[Travel]]></category>
		<category><![CDATA[life]]></category>
		<category><![CDATA[travel]]></category>
		<category><![CDATA[trip]]></category>

		<guid isPermaLink="false">http://envato.awedoo.com/themeforest/wp/blueberry/?p=111</guid>
				<description><![CDATA[In hac habitasse platea dictumst. Donec vel bibendum qu [&#8230;]]]></description>
								<content:encoded><![CDATA[<p>In hac habitasse platea dictumst. Donec vel bibendum quam. Duis rhoncus consequat enim. Nunc sagittis nulla eget massa tincidunt pellentesque. Fusce id vehicula nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse nec iaculis tellus. Maecenas non dapibus purus. Fusce euismod vulputate ligula sed feugiat. Ut mauris nibh, sagittis varius fermentum vel, porttitor ut mi.</p>
<p>Cras placerat nisl sit amet nulla maximus mollis. Ut vel porttitor dolor. Sed eget venenatis mi, ac finibus nisi. Morbi ornare velit eget felis elementum cursus. Vestibulum non pulvinar risus. Curabitur hendrerit tortor vulputate odio rhoncus, eget pellentesque sapien sodales. Suspendisse vel auctor ipsum. Aliquam bibendum tellus lacus, vitae consequat turpis posuere sit amet. Aliquam erat volutpat.</p>
<p><span id="more-111"></span></p>
<p>Sed at ante est. Proin vitae ultricies lectus. Etiam ornare turpis eu lectus consequat, id ultricies est vehicula. Ut sit amet tempor lacus, in blandit erat. Nam convallis mi non sapien tempus egestas. Integer eget nibh nulla. Etiam fermentum tortor a velit mollis vestibulum. Donec nec mi tristique, rhoncus risus eu, scelerisque neque. Nunc rhoncus, leo in pretium facilisis, sapien nibh vulputate quam, non dapibus nibh ante sit amet metus. In vel condimentum odio, nec vestibulum odio. Aliquam erat volutpat. Maecenas pulvinar magna ut risus blandit, ut varius nunc tincidunt. Cras sit amet nisl a nisl adipiscing euismod. Nam id lectus rutrum, hendrerit dui semper, rutrum quam. Maecenas mattis faucibus libero, et vehicula libero dapibus et.</p>
]]></content:encoded>
							<wfw:commentRss>http://OFFLINEZIP.wpsho2016/04/01/travel-the-world/feed/</wfw:commentRss>
		<slash:comments>5</slash:comments>
							</item>
		<item>
		<title>Bringing Ideas to Life</title>
		<link>http://OFFLINEZIP.wpsho2016/03/01/bringing-ideas-to-life/</link>
				<pubDate>Tue, 01 Mar 2016 13:09:53 +0000</pubDate>
		<dc:creator><![CDATA[hota]]></dc:creator>
				<category><![CDATA[Music]]></category>
		<category><![CDATA[Travel]]></category>
		<category><![CDATA[explore]]></category>
		<category><![CDATA[travel]]></category>

		<guid isPermaLink="false">http://envato.awedoo.com/themeforest/wp/blueberry/?p=87</guid>
				<description><![CDATA[Sed laoreet tortor vitae ipsum iaculis dapibus. Morbi l [&#8230;]]]></description>
								<content:encoded><![CDATA[<p>Sed laoreet tortor vitae ipsum iaculis dapibus. Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis. Phasellus congue volutpat porttitor. Morbi ullamcorper ac velit et laoreet. Proin at consequat ipsum. Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris.</p>
<p><span id="more-87"></span></p>
<p>Phasellus molestie, lectus sed dapibus volutpat, ligula tortor tincidunt purus, et imperdiet erat sem vel mauris. Nam nulla tortor, imperdiet et tincidunt nec, ornare sit amet risus. Aliquam malesuada bibendum gravida. Nullam blandit sagittis felis in ullamcorper. Vivamus varius sem vehicula, tempus arcu scelerisque, lobortis quam. Sed mollis nibh eget semper consequat.</p>
<h5>Lorem Ipsum Dolor Sit Amet</h5>
<p>Aenean ac porttitor diam. Sed imperdiet mi rutrum metus porta pretium. Vestibulum fermentum lectus quis erat convallis volutpat. Vestibulum tristique semper lacus vitae commodo. Aliquam sollicitudin purus at placerat placerat.</p>
<blockquote><p>Sometimes when you innovate, you make mistakes. It is best to admit them quickly, and get on with improving your other innovations.</p>
<p>&#8211; Steve Jobs</p></blockquote>
<p>Suspendisse eleifend nulla ac rhoncus egestas. Sed vehicula ipsum vitae finibus condimentum. Phasellus rhoncus, nulla et sodales sodales, massa nisl volutpat odio, ac sodales risus metus sollicitudin odio. Proin et nibh a urna congue posuere. Proin lobortis sodales arcu sed volutpat. Proin sem turpis, sollicitudin ac augue in, aliquet mollis metus. Duis quam lorem, consequat a sapien eget, dignissim rhoncus turpis. Donec dictum eget nibh lobortis eleifend. Vestibulum sed porta sem. Etiam egestas velit dolor, a pretium elit finibus a. Donec tempus purus vel consequat pulvinar. Pellentesque at eros nec felis consectetur consequat in et turpis. Donec at erat venenatis, imperdiet sapien quis, molestie nisi. Phasellus metus nisi, placerat quis scelerisque sit amet, dapibus eget massa. Nunc egestas congue metus. Fusce facilisis purus quis diam fermentum, vitae bibendum metus porttitor.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
