<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>blueberry &#8211; DHO1</title>
	<atom:link href="http://OFFLINEZIP.wpshotag/blueberry/feed/" rel="self" type="application/rss+xml" />
	<link>https://OFFLINEZIP.wpsho</link>
	<description>全新的繁體中文 WordPress 網站</description>
	<lastBuildDate>Sun, 03 Apr 2016 08:47:04 +0000</lastBuildDate>
	<language>zh-TW</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.2.4</generator>
	<item>
		<title>Mixed Fresh Berries Recipe</title>
		<link>http://OFFLINEZIP.wpsho2016/04/03/mixed-fresh-berries-recipe/</link>
				<pubDate>Sun, 03 Apr 2016 08:47:04 +0000</pubDate>
		<dc:creator><![CDATA[hota]]></dc:creator>
				<category><![CDATA[Food]]></category>
		<category><![CDATA[berry]]></category>
		<category><![CDATA[blueberry]]></category>

		<guid isPermaLink="false">http://envato.awedoo.com/themeforest/wp/blueberry/?p=117</guid>
				<description><![CDATA[In hac habitasse platea dictumst. Donec vel bibendum qu [&#8230;]]]></description>
								<content:encoded><![CDATA[<p>In hac habitasse platea dictumst. Donec vel bibendum quam. Duis rhoncus consequat enim. Nunc sagittis nulla eget massa tincidunt pellentesque. Fusce id vehicula nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse nec iaculis tellus. Maecenas non dapibus purus. Fusce euismod vulputate ligula sed feugiat. Ut mauris nibh, sagittis varius fermentum vel, porttitor ut mi.</p>
<p><span id="more-117"></span></p>
<blockquote><p>Cras placerat nisl sit amet nulla maximus mollis. Ut vel porttitor dolor. Sed eget venenatis mi, ac finibus nisi. Morbi ornare velit eget felis elementum cursus. Vestibulum non pulvinar risus.</p></blockquote>
<p>Sed at ante est. Proin vitae ultricies lectus. Etiam ornare turpis eu lectus consequat, id ultricies est vehicula. Ut sit amet tempor lacus, in blandit erat. Nam convallis mi non sapien tempus egestas. Integer eget nibh nulla. Etiam fermentum tortor a velit mollis vestibulum. Donec nec mi tristique, rhoncus risus eu, scelerisque neque. Nunc rhoncus, leo in pretium facilisis, sapien nibh vulputate quam, non dapibus nibh ante sit amet metus.</p>
<hr />
<p>In vel condimentum odio, nec vestibulum odio. Aliquam erat volutpat. Maecenas pulvinar magna ut risus blandit, ut varius nunc tincidunt. Cras sit amet nisl a nisl adipiscing euismod. Nam id lectus rutrum, hendrerit dui semper, rutrum quam. Maecenas mattis faucibus libero, et vehicula libero dapibus et.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Blueberry Pie Recipe</title>
		<link>http://OFFLINEZIP.wpsho2016/04/03/blueberry-pie-recipe/</link>
				<pubDate>Sun, 03 Apr 2016 07:01:17 +0000</pubDate>
		<dc:creator><![CDATA[hota]]></dc:creator>
				<category><![CDATA[Food]]></category>
		<category><![CDATA[blueberry]]></category>
		<category><![CDATA[pie]]></category>
		<category><![CDATA[tasty]]></category>

		<guid isPermaLink="false">http://envato.awedoo.com/themeforest/wp/blueberry/?p=31</guid>
				<description><![CDATA[Aenean in dui quis lectus tincidunt hendrerit et vitae  [&#8230;]]]></description>
								<content:encoded><![CDATA[<p>Aenean in dui quis lectus tincidunt hendrerit et vitae enim. Praesent volutpat scelerisque felis quis efficitur. Vivamus ultrices leo non purus tincidunt cursus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris a ornare lorem, eu egestas massa. In consectetur neque felis, at tempor ipsum condimentum nec. In hac habitasse platea dictumst.</p>
<p><span id="more-31"></span></p>
<p><img class="size-medium wp-image-33 alignright" src="http://OFFLINEZIP.wpshowp-content/uploads/2015/09/hands_blueberry-300x200.jpeg" alt="hands_blueberry" width="300" height="200" srcset="http://OFFLINEZIP.wpshowp-content/uploads/2015/09/hands_blueberry-300x200.jpeg 300w, http://OFFLINEZIP.wpshowp-content/uploads/2015/09/hands_blueberry-416x277.jpeg 416w, http://OFFLINEZIP.wpshowp-content/uploads/2015/09/hands_blueberry-768x512.jpeg 768w, http://OFFLINEZIP.wpshowp-content/uploads/2015/09/hands_blueberry-1024x683.jpeg 1024w, http://OFFLINEZIP.wpshowp-content/uploads/2015/09/hands_blueberry-1240x827.jpeg 1240w, http://OFFLINEZIP.wpshowp-content/uploads/2015/09/hands_blueberry-920x613.jpeg 920w, http://OFFLINEZIP.wpshowp-content/uploads/2015/09/hands_blueberry-600x400.jpeg 600w, http://OFFLINEZIP.wpshowp-content/uploads/2015/09/hands_blueberry-280x187.jpeg 280w" sizes="(max-width: 300px) 100vw, 300px" />Nulla a imperdiet velit, vitae viverra dui. Morbi aliquam, velit in ultricies lacinia, nunc lorem rhoncus diam, nec feugiat ex justo sit amet elit. Maecenas sit amet tristique metus, vel laoreet neque. Vivamus dapibus, dolor ac posuere scelerisque, risus erat rutrum risus, non accumsan est dui aliquam eros. Phasellus convallis lacus at blandit dignissim. Ut venenatis, magna ut sagittis laoreet, turpis velit pellentesque neque, eu bibendum ligula massa a lacus.</p>
<p>START FROM SCRATCH</p>
<p>Nec iaculis fermentum. Aliquam a sem ac leo cursus dapibus. Maecenas quis luctus urna, sed fermentum velit. Suspendisse viverra velit vel aliquam semper. Ut vitae volutpat dolor, at mollis neque. Fusce at efficitur tortor. In pharetra neque congue enim hendrerit aliquam. Morbi pharetra dolor sed metus dictum, a tincidunt turpis interdum.</p>
<blockquote><p>Nam pharetra in dolor non maximus. Donec eget ipsum eget tellus elementum ornare. Sed aliquet finibus nisi eget bibendum. Etiam aliquam urna in sollicitudin accumsan.</p></blockquote>
<p>Nulla a imperdiet velit, vitae viverra dui. Morbi aliquam, velit in ultricies lacinia, nunc lorem rhoncus diam, nec feugiat ex justo sit amet elit. Maecenas sit amet tristique metus, vel laoreet neque. Vivamus dapibus, dolor ac posuere scelerisque, risus erat rutrum risus, non accumsan est dui aliquam eros. Phasellus convallis lacus at blandit dignissim. Ut venenatis, magna ut sagittis laoreet, turpis velit pellentesque neque, eu bibendum ligula massa a lacus.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Chocolate Raspberry &#038; Blueberry Cake</title>
		<link>http://OFFLINEZIP.wpsho2016/04/01/chocolate-raspberry-cake/</link>
				<pubDate>Fri, 01 Apr 2016 12:38:36 +0000</pubDate>
		<dc:creator><![CDATA[hota]]></dc:creator>
				<category><![CDATA[Food]]></category>
		<category><![CDATA[berry]]></category>
		<category><![CDATA[blueberry]]></category>

		<guid isPermaLink="false">http://envato.awedoo.com/themeforest/wp/blueberry/?p=75</guid>
				<description><![CDATA[Praesent ultricies sapien sed enim elementum ullamcorpe [&#8230;]]]></description>
								<content:encoded><![CDATA[<p>Praesent ultricies sapien sed enim elementum ullamcorper. Vestibulum feugiat eu libero vel placerat. Praesent consectetur condimentum ipsum, non pellentesque nunc aliquet quis. Nunc non sapien mi. Phasellus lorem eros, luctus eu nunc eget, facilisis accumsan enim. Morbi suscipit ullamcorper sapien, Quis gravida purus posuere sit amet. Ut mauris sapien, laoreet id erat non, tincidunt imperdiet nibh. Sed eleifend porttitor sapien, nec molestie augue ullamcorper ut.<span id="more-1713"></span></p>
<p><span id="more-75"></span></p>
<h2>Is There A Story or Not?</h2>
<p>Maecenas malesuada mauris libero, ultricies vehicula neque rhoncus ut. Nulla porttitor bibendum viverra. Phasellus sollicitudin massa aliquet ultricies condimentum. Mauris euismod sem eu euismod interdum. Vestibulum tincidunt ac erat eu viverra. Ut a risus ut nisi auctor placerat sed non orci.</p>
<p>Vestibulum feugiat eu libero vel placerat. Praesent consectetur condimentum ipsum, non pellentesque nunc aliquet quis. Nunc non sapien mi. Phasellus lorem eros, luctus eu nunc eget, facilisis accumsan enim. Morbi suscipit ullamcorper sapien, Quis gravida purus posuere sit amet.</p>
<p>&nbsp;</p>
<p>Ut mauris sapien, laoreet id erat non, tincidunt imperdiet nibh. Sed eleifend porttitor sapien, nec molestie augue ullamcorper ut. Maecenas malesuada mauris libero, ultricies vehicula neque rhoncus ut. Nulla porttitor bibendum viverra. Phasellus sollicitudin massa aliquet ultricies condimentum. Mauris euismod sem eu euismod interdum. Vestibulum tincidunt ac erat eu viverra. Ut a risus ut nisi auctor placerat sed non orci.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
