<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>berry &#8211; DHO1</title>
	<atom:link href="http://OFFLINEZIP.wpshotag/berry/feed/" rel="self" type="application/rss+xml" />
	<link>https://OFFLINEZIP.wpsho</link>
	<description>全新的繁體中文 WordPress 網站</description>
	<lastBuildDate>Sun, 03 Apr 2016 08:47:04 +0000</lastBuildDate>
	<language>zh-TW</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.2.4</generator>
	<item>
		<title>Mixed Fresh Berries Recipe</title>
		<link>http://OFFLINEZIP.wpsho2016/04/03/mixed-fresh-berries-recipe/</link>
				<pubDate>Sun, 03 Apr 2016 08:47:04 +0000</pubDate>
		<dc:creator><![CDATA[hota]]></dc:creator>
				<category><![CDATA[Food]]></category>
		<category><![CDATA[berry]]></category>
		<category><![CDATA[blueberry]]></category>

		<guid isPermaLink="false">http://envato.awedoo.com/themeforest/wp/blueberry/?p=117</guid>
				<description><![CDATA[In hac habitasse platea dictumst. Donec vel bibendum qu [&#8230;]]]></description>
								<content:encoded><![CDATA[<p>In hac habitasse platea dictumst. Donec vel bibendum quam. Duis rhoncus consequat enim. Nunc sagittis nulla eget massa tincidunt pellentesque. Fusce id vehicula nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse nec iaculis tellus. Maecenas non dapibus purus. Fusce euismod vulputate ligula sed feugiat. Ut mauris nibh, sagittis varius fermentum vel, porttitor ut mi.</p>
<p><span id="more-117"></span></p>
<blockquote><p>Cras placerat nisl sit amet nulla maximus mollis. Ut vel porttitor dolor. Sed eget venenatis mi, ac finibus nisi. Morbi ornare velit eget felis elementum cursus. Vestibulum non pulvinar risus.</p></blockquote>
<p>Sed at ante est. Proin vitae ultricies lectus. Etiam ornare turpis eu lectus consequat, id ultricies est vehicula. Ut sit amet tempor lacus, in blandit erat. Nam convallis mi non sapien tempus egestas. Integer eget nibh nulla. Etiam fermentum tortor a velit mollis vestibulum. Donec nec mi tristique, rhoncus risus eu, scelerisque neque. Nunc rhoncus, leo in pretium facilisis, sapien nibh vulputate quam, non dapibus nibh ante sit amet metus.</p>
<hr />
<p>In vel condimentum odio, nec vestibulum odio. Aliquam erat volutpat. Maecenas pulvinar magna ut risus blandit, ut varius nunc tincidunt. Cras sit amet nisl a nisl adipiscing euismod. Nam id lectus rutrum, hendrerit dui semper, rutrum quam. Maecenas mattis faucibus libero, et vehicula libero dapibus et.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Chocolate Raspberry &#038; Blueberry Cake</title>
		<link>http://OFFLINEZIP.wpsho2016/04/01/chocolate-raspberry-cake/</link>
				<pubDate>Fri, 01 Apr 2016 12:38:36 +0000</pubDate>
		<dc:creator><![CDATA[hota]]></dc:creator>
				<category><![CDATA[Food]]></category>
		<category><![CDATA[berry]]></category>
		<category><![CDATA[blueberry]]></category>

		<guid isPermaLink="false">http://envato.awedoo.com/themeforest/wp/blueberry/?p=75</guid>
				<description><![CDATA[Praesent ultricies sapien sed enim elementum ullamcorpe [&#8230;]]]></description>
								<content:encoded><![CDATA[<p>Praesent ultricies sapien sed enim elementum ullamcorper. Vestibulum feugiat eu libero vel placerat. Praesent consectetur condimentum ipsum, non pellentesque nunc aliquet quis. Nunc non sapien mi. Phasellus lorem eros, luctus eu nunc eget, facilisis accumsan enim. Morbi suscipit ullamcorper sapien, Quis gravida purus posuere sit amet. Ut mauris sapien, laoreet id erat non, tincidunt imperdiet nibh. Sed eleifend porttitor sapien, nec molestie augue ullamcorper ut.<span id="more-1713"></span></p>
<p><span id="more-75"></span></p>
<h2>Is There A Story or Not?</h2>
<p>Maecenas malesuada mauris libero, ultricies vehicula neque rhoncus ut. Nulla porttitor bibendum viverra. Phasellus sollicitudin massa aliquet ultricies condimentum. Mauris euismod sem eu euismod interdum. Vestibulum tincidunt ac erat eu viverra. Ut a risus ut nisi auctor placerat sed non orci.</p>
<p>Vestibulum feugiat eu libero vel placerat. Praesent consectetur condimentum ipsum, non pellentesque nunc aliquet quis. Nunc non sapien mi. Phasellus lorem eros, luctus eu nunc eget, facilisis accumsan enim. Morbi suscipit ullamcorper sapien, Quis gravida purus posuere sit amet.</p>
<p>&nbsp;</p>
<p>Ut mauris sapien, laoreet id erat non, tincidunt imperdiet nibh. Sed eleifend porttitor sapien, nec molestie augue ullamcorper ut. Maecenas malesuada mauris libero, ultricies vehicula neque rhoncus ut. Nulla porttitor bibendum viverra. Phasellus sollicitudin massa aliquet ultricies condimentum. Mauris euismod sem eu euismod interdum. Vestibulum tincidunt ac erat eu viverra. Ut a risus ut nisi auctor placerat sed non orci.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
